.container {
  width: 180px;
  height: 280px;
  padding: 20px;
  background-color: #FAFAFA;
  color: #424242;
}
.priest {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  background-color: yellow;
  margin-bottom: 20px;
  float: left;
}
.stats {
  border-top: 1px solid black;
  text-align: left;
}
